<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.shopping.mapper.WareMapper" >
  <resultMap id="BaseResultMap" type="com.qf.shopping.pojo.Ware" >
    <id column="goodId" property="goodId" jdbcType="INTEGER" />
    <result column="goodName" property="goodName" jdbcType="VARCHAR" />
    <result column="goodDes" property="goodDes" jdbcType="VARCHAR" />
    <result column="goodNums" property="goodNums" jdbcType="VARCHAR" />
    <result column="goodDiscountPrice" property="goodDiscountPrice" jdbcType="VARCHAR" />
    <result column="goodImage" property="goodImage" jdbcType="VARCHAR" />
    <result column="goodwNum" property="goodwNum" jdbcType="VARCHAR" />
    <result column="goodPrice" property="goodPrice" jdbcType="VARCHAR" />
    <result column="secondTypeId" property="secondTypeId" jdbcType="INTEGER" />
    <result column="gms" property="gms" jdbcType="INTEGER" />
    <result column="gams" property="gams" jdbcType="INTEGER" />
    <result column="gnum" property="gnum" jdbcType="INTEGER" />
    <result column="glNum" property="glNum" jdbcType="INTEGER" />
    <result column="gewNum" property="gewNum" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    goodId, goodName, goodDes, goodNums, goodDiscountPrice, goodImage, goodwNum, goodPrice, 
    secondTypeId, gms, gams, gnum, glNum, gewNum, version
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qf.shopping.pojo.WareExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_ware
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_ware
    where goodId = #{goodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_ware
    where goodId = #{goodId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.shopping.pojo.WareExample" >
    delete from t_ware
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.shopping.pojo.Ware" >
    insert into t_ware (goodId, goodName, goodDes, 
      goodNums, goodDiscountPrice, goodImage, 
      goodwNum, goodPrice, secondTypeId, 
      gms, gams, gnum, glNum, 
      gewNum, version)
    values (#{goodId,jdbcType=INTEGER}, #{goodName,jdbcType=VARCHAR}, #{goodDes,jdbcType=VARCHAR}, 
      #{goodNums,jdbcType=VARCHAR}, #{goodDiscountPrice,jdbcType=VARCHAR}, #{goodImage,jdbcType=VARCHAR}, 
      #{goodwNum,jdbcType=VARCHAR}, #{goodPrice,jdbcType=VARCHAR}, #{secondTypeId,jdbcType=INTEGER}, 
      #{gms,jdbcType=INTEGER}, #{gams,jdbcType=INTEGER}, #{gnum,jdbcType=INTEGER}, #{glNum,jdbcType=INTEGER}, 
      #{gewNum,jdbcType=INTEGER}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.shopping.pojo.Ware" >
    insert into t_ware
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodId != null" >
        goodId,
      </if>
      <if test="goodName != null" >
        goodName,
      </if>
      <if test="goodDes != null" >
        goodDes,
      </if>
      <if test="goodNums != null" >
        goodNums,
      </if>
      <if test="goodDiscountPrice != null" >
        goodDiscountPrice,
      </if>
      <if test="goodImage != null" >
        goodImage,
      </if>
      <if test="goodwNum != null" >
        goodwNum,
      </if>
      <if test="goodPrice != null" >
        goodPrice,
      </if>
      <if test="secondTypeId != null" >
        secondTypeId,
      </if>
      <if test="gms != null" >
        gms,
      </if>
      <if test="gams != null" >
        gams,
      </if>
      <if test="gnum != null" >
        gnum,
      </if>
      <if test="glNum != null" >
        glNum,
      </if>
      <if test="gewNum != null" >
        gewNum,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodId != null" >
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="goodName != null" >
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodDes != null" >
        #{goodDes,jdbcType=VARCHAR},
      </if>
      <if test="goodNums != null" >
        #{goodNums,jdbcType=VARCHAR},
      </if>
      <if test="goodDiscountPrice != null" >
        #{goodDiscountPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodImage != null" >
        #{goodImage,jdbcType=VARCHAR},
      </if>
      <if test="goodwNum != null" >
        #{goodwNum,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null" >
        #{goodPrice,jdbcType=VARCHAR},
      </if>
      <if test="secondTypeId != null" >
        #{secondTypeId,jdbcType=INTEGER},
      </if>
      <if test="gms != null" >
        #{gms,jdbcType=INTEGER},
      </if>
      <if test="gams != null" >
        #{gams,jdbcType=INTEGER},
      </if>
      <if test="gnum != null" >
        #{gnum,jdbcType=INTEGER},
      </if>
      <if test="glNum != null" >
        #{glNum,jdbcType=INTEGER},
      </if>
      <if test="gewNum != null" >
        #{gewNum,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.shopping.pojo.WareExample" resultType="java.lang.Integer" >
    select count(*) from t_ware
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_ware
    <set >
      <if test="record.goodId != null" >
        goodId = #{record.goodId,jdbcType=INTEGER},
      </if>
      <if test="record.goodName != null" >
        goodName = #{record.goodName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodDes != null" >
        goodDes = #{record.goodDes,jdbcType=VARCHAR},
      </if>
      <if test="record.goodNums != null" >
        goodNums = #{record.goodNums,jdbcType=VARCHAR},
      </if>
      <if test="record.goodDiscountPrice != null" >
        goodDiscountPrice = #{record.goodDiscountPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.goodImage != null" >
        goodImage = #{record.goodImage,jdbcType=VARCHAR},
      </if>
      <if test="record.goodwNum != null" >
        goodwNum = #{record.goodwNum,jdbcType=VARCHAR},
      </if>
      <if test="record.goodPrice != null" >
        goodPrice = #{record.goodPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.secondTypeId != null" >
        secondTypeId = #{record.secondTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.gms != null" >
        gms = #{record.gms,jdbcType=INTEGER},
      </if>
      <if test="record.gams != null" >
        gams = #{record.gams,jdbcType=INTEGER},
      </if>
      <if test="record.gnum != null" >
        gnum = #{record.gnum,jdbcType=INTEGER},
      </if>
      <if test="record.glNum != null" >
        glNum = #{record.glNum,jdbcType=INTEGER},
      </if>
      <if test="record.gewNum != null" >
        gewNum = #{record.gewNum,jdbcType=INTEGER},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_ware
    set goodId = #{record.goodId,jdbcType=INTEGER},
      goodName = #{record.goodName,jdbcType=VARCHAR},
      goodDes = #{record.goodDes,jdbcType=VARCHAR},
      goodNums = #{record.goodNums,jdbcType=VARCHAR},
      goodDiscountPrice = #{record.goodDiscountPrice,jdbcType=VARCHAR},
      goodImage = #{record.goodImage,jdbcType=VARCHAR},
      goodwNum = #{record.goodwNum,jdbcType=VARCHAR},
      goodPrice = #{record.goodPrice,jdbcType=VARCHAR},
      secondTypeId = #{record.secondTypeId,jdbcType=INTEGER},
      gms = #{record.gms,jdbcType=INTEGER},
      gams = #{record.gams,jdbcType=INTEGER},
      gnum = #{record.gnum,jdbcType=INTEGER},
      glNum = #{record.glNum,jdbcType=INTEGER},
      gewNum = #{record.gewNum,jdbcType=INTEGER},
      version = #{record.version,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.shopping.pojo.Ware" >
    update t_ware
    <set >
      <if test="goodName != null" >
        goodName = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodDes != null" >
        goodDes = #{goodDes,jdbcType=VARCHAR},
      </if>
      <if test="goodNums != null" >
        goodNums = #{goodNums,jdbcType=VARCHAR},
      </if>
      <if test="goodDiscountPrice != null" >
        goodDiscountPrice = #{goodDiscountPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodImage != null" >
        goodImage = #{goodImage,jdbcType=VARCHAR},
      </if>
      <if test="goodwNum != null" >
        goodwNum = #{goodwNum,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null" >
        goodPrice = #{goodPrice,jdbcType=VARCHAR},
      </if>
      <if test="secondTypeId != null" >
        secondTypeId = #{secondTypeId,jdbcType=INTEGER},
      </if>
      <if test="gms != null" >
        gms = #{gms,jdbcType=INTEGER},
      </if>
      <if test="gams != null" >
        gams = #{gams,jdbcType=INTEGER},
      </if>
      <if test="gnum != null" >
        gnum = #{gnum,jdbcType=INTEGER},
      </if>
      <if test="glNum != null" >
        glNum = #{glNum,jdbcType=INTEGER},
      </if>
      <if test="gewNum != null" >
        gewNum = #{gewNum,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where goodId = #{goodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.shopping.pojo.Ware" >
    update t_ware
    set goodName = #{goodName,jdbcType=VARCHAR},
      goodDes = #{goodDes,jdbcType=VARCHAR},
      goodNums = #{goodNums,jdbcType=VARCHAR},
      goodDiscountPrice = #{goodDiscountPrice,jdbcType=VARCHAR},
      goodImage = #{goodImage,jdbcType=VARCHAR},
      goodwNum = #{goodwNum,jdbcType=VARCHAR},
      goodPrice = #{goodPrice,jdbcType=VARCHAR},
      secondTypeId = #{secondTypeId,jdbcType=INTEGER},
      gms = #{gms,jdbcType=INTEGER},
      gams = #{gams,jdbcType=INTEGER},
      gnum = #{gnum,jdbcType=INTEGER},
      glNum = #{glNum,jdbcType=INTEGER},
      gewNum = #{gewNum,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER}
    where goodId = #{goodId,jdbcType=INTEGER}
  </update>
</mapper>